In [1]:
import pandas as pd

df = pd.read_csv('../Dataset/fifaWorldcup/WorldCupMatches.csv')
df

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.drop(labels='Datetime',axis=1,inplace=True)
df.drop(labels='Half-time Home Goals',axis=1,inplace=True)
df.drop(labels='Half-time Away Goals',axis=1,inplace=True)
df.drop(labels='Stadium',axis=1,inplace=True)
df.drop(labels='City',axis=1,inplace=True)
df.drop(labels='Away Team Initials',axis=1,inplace=True)
df.drop(labels='Assistant 1',axis=1,inplace=True)
df.drop(labels='Assistant 2',axis=1,inplace=True)
df.drop(labels='Attendance',axis=1,inplace=True)
df.drop(labels='RoundID',axis=1,inplace=True)
df.drop(labels='MatchID',axis=1,inplace=True)
df.drop(labels='Referee',axis=1,inplace=True)
df.drop(labels='Home Team Initials',axis=1,inplace=True)
df

,Year,Stage,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions
0,1930.0,Group 1,France,4.0,1.0,Mexico,
1,1930.0,Group 4,USA,3.0,0.0,Belgium,
2,1930.0,Group 2,Yugoslavia,2.0,1.0,Brazil,
3,1930.0,Group 3,Romania,3.0,1.0,Peru,
4,1930.0,Group 1,Argentina,1.0,0.0,France,
...,...,...,...,...,...,...,...
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
winner = []
for i in range(len(df)):
    if df['Home Team Goals'][i]>df['Away Team Goals'][i]:
        winner.append(1)
    elif df['Home Team Goals'][i]<df['Away Team Goals'][i]:
        winner.append(2)
    else:
        winner.append(0)

df['Winner'] = winner
df

,Year,Stage,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Winner
0,1930.0,Group 1,France,4.0,1.0,Mexico,,1
1,1930.0,Group 4,USA,3.0,0.0,Belgium,,1
2,1930.0,Group 2,Yugoslavia,2.0,1.0,Brazil,,1
3,1930.0,Group 3,Romania,3.0,1.0,Peru,,1
4,1930.0,Group 1,Argentina,1.0,0.0,France,,1
...,...,...,...,...,...,...,...,...
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
df.drop(labels='Home Team Goals',axis=1,inplace=True)
df.drop(labels='Away Team Goals',axis=1,inplace=True)
df.drop(labels='Win conditions',axis=1,inplace=True)
df

        Year    Stage Home Team Name Away Team Name  Winner
0     1930.0  Group 1         France         Mexico       1
1     1930.0  Group 4            USA        Belgium       1
2     1930.0  Group 2     Yugoslavia         Brazil       1
3     1930.0  Group 3        Romania           Peru       1
4     1930.0  Group 1      Argentina         France       1
...      ...      ...            ...            ...     ...
4567     NaN      NaN            NaN            NaN       0
4568     NaN      NaN            NaN            NaN       0
4569     NaN      NaN            NaN            NaN       0
4570     NaN      NaN            NaN            NaN       0
4571     NaN      NaN            NaN            NaN       0

[4572 rows x 5 columns]

In [5]:
final = df[df['Stage'] == 'Final']
final

       Year  Stage Home Team Name  Away Team Name  Winner
17   1930.0  Final        Uruguay       Argentina       1
34   1934.0  Final          Italy  Czechoslovakia       1
52   1938.0  Final          Italy         Hungary       1
100  1954.0  Final     Germany FR         Hungary       1
135  1958.0  Final         Brazil          Sweden       1
167  1962.0  Final         Brazil  Czechoslovakia       1
199  1966.0  Final        England      Germany FR       1
231  1970.0  Final         Brazil           Italy       1
269  1974.0  Final    Netherlands      Germany FR       2
307  1978.0  Final      Argentina     Netherlands       1
359  1982.0  Final          Italy      Germany FR       1
411  1986.0  Final      Argentina      Germany FR       1
463  1990.0  Final     Germany FR       Argentina       1
515  1994.0  Final         Brazil           Italy       0
579  1998.0  Final         Brazil          France       2
643  2002.0  Final        Germany          Brazil       2
707  2006.0  Final          Italy          France       0
771  2010.0  Final    Netherlands           Spain       2
828  2014.0  Final        Germany       Argentina       1
851  2014.0  Final        Germany       Argentina       1

Home Team represents = 1
Away Team represents = 2